@* @model IEnumerable<SockenJac.Models.Producto>
 *@
 @model SockenJac.ViewModels.vmProductos

@{
    ViewData["Title"] = "Home Page";
}


@if (ViewBag.Error != null)
{
    <hr />
    <h2>
        @ViewBag.Error
    </h2>
    <hr />
}
<h1>Bienvenidos a Productos</h1>

<form asp-action="Index" method="get">
    Nombre: <input type="text" asp-for="busqNombre" />
    Descripcion: <input type="text" asp-for="busqDescripcion" />
    Precio: <input type="number" asp-for="busqPrecio" />
    <input type="submit" value="Filtrar" />
</form>



 @if (Model.ListaProductos != null && Model.ListaProductos.Count > 0)
{

    <form >
        <div style="display:flex; flex-wrap:wrap; gap:15px;">
            @foreach (var p in Model.ListaProductos)
            {
                <div class="card" style="width:220px; padding:10px; border:1px solid ;">
                    @if (!string.IsNullOrEmpty(p.foto))
                    {
                    <a asp-controller="Productos" asp-action="Details" asp-route-id="@p.Id">
                            <img src="~/fotografias/@p.foto" class="card-img-top" style="object-fit: cover; height: 150px;" alt="Imagen" />
                        </a>
                    }
                    <h3>@p.Nombre</h3>
                    <p>@p.Descripcion</p>
                    <p>Precio: $@p.Precio</p>
                    <p>En Stock: <span id="stock-@p.Id">@p.Cantidad</span></p>  
                </div>
            }
        </div>

    </form>

}
else
{
    <h4>No existen datos según filtros</h4>
}

